.navbar{
    display:flex;
    align-items: center;
    width:1300px;
    max-width:100%;
    font-family: 'Montserrat', sans-serif;
}

.navbar-logo{
    font-size: 2rem;
    margin-left:2rem;
    font-weight: 700;
    color:black
}

.navbar-components{
    display:flex;
    justify-content: space-around;
    max-width: 100%;
    width:1300px;
}

#qtyInCart{
    background: black;
    color:#f4f4f4;
    border-radius: 30px;
}

#qtyInCart span{
    margin:5px
}

#navbar-cart-span{
    margin-right:3px
}

.navbar-components h2{
    font-size: 1.5rem;
    font-weight: 400;
    color:black;
    font-family: 'Roboto';
}

.navbar a{
    text-decoration: none;
}