.product{
    display:flex;
    flex-direction: column;
}

.product-picture img{
    width:410px;
    height:280px
}

.product-others{
    display:flex
}

.product-others button{
    height:30px;
    margin-top:10px;
    font-family: 'Roboto';
    border:none;
    cursor:pointer
}

.add-to-cart{
    background-color: black;
    color:#f4f4f4;
    width:100px
}

.info-button{
    width:80px;
    margin-right: 10px;
    background-color: rgb(96, 136, 96);
    color:white
}

.add-to-cart:hover{
    background-color: cadetblue;
}

.product-name{
    color:cadetblue;
    font-size: 2rem;
    font-family: 'Roboto';
    margin-top: -0px;
    margin-right: 20px;
}

.product-price{
    font-size: 2.5rem;
    margin-top:-20px
}