.info-product{
    width:1300px;
    max-width: 100%;
}

.each-item{
    display:flex
}

.each-item img{
    width:600px
}

.info-right, .info-product{
    margin-left:15px
}

.info-name, .info-description, .info-price{
    font-family: 'Roboto';
}

.info-name{
    color:cadetblue;
    font-size:2.5rem
}

.info-description{
    font-size:1.6rem;
    font-weight: 400;
}

.info-price{font-weight: 600; font-size: 2rem;}

.info-right button{
    background-color: black;
    color:#f4f4f4;
    width:150px;
    border:none;
    height:30px;
    cursor:pointer;
    border-radius: 5px;
}

.info-right button:hover{
    background-color: cadetblue;
}

.other-fruits{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

.other-products-img{
    width:200px;
    height:150px;
    cursor:pointer
}

.other-products-img:hover{
    background: rgba(0,0,0,0.5);
}

