.items-and-delete-button{
    display:flex;
    height:170px;
    width:80%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px 100px;
    background-color: #f4f4f4;
}

.items{
    display:flex;
}

.items img{
    width:200px;
    height:150px
}

.items div{
    display:flex;
    flex-direction:column
}

.items div h2{
    margin: 10px 0px 0px 30px
}

.cart-name{
    color: cadetblue
}

.delete-box{
    margin-right:20px
}

.delete-button{
    width:30px;
    height:30px;
    background: rgba(255, 0, 0, 0.76);
    border-radius:10px;
    border:none;
    color:white;
    cursor:pointer
}

.delete-button:hover{
    width:32px;
    height:32px
}

.fa-trash-alt{
    color:white
}

@media(max-width:600px){
    .items-and-delete-button{margin:10px; width:95%}
}

@media(max-width:500px){
    .items img{width:150px; height:125px}
    .items div h2{font-size:1.3rem; margin:10px 0px 0px 20px}
}